@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    padding: 6px;
}

a {
    color: #141E46;
}

table {
    margin: 10px;
}

button {
    background-color: #141E46;
    color: #FFF5E0;
    border-radius: 10px;
    padding: 3px;
    margin: 10px;
}

th {
    border: 2px solid #FFF5E0;
    padding: 5px;
}

td {
    text-align: center;
    border: 2px solid #FFF5E0;
    padding: 5px;
}

#contenedor {
    color: #FFF5E0;
    background-color: #C70039;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.resultado {
    text-align: center;
}

footer {
    background-color: #141E46;
    color: #FFF5E0;
    padding: 10px;
}
#linksU{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.contenLink {
    display: flex;
    align-items: center;
    align-content: center;

}

.link {
    display: block;
    color: #FFF5E0;
    margin-left: 5px;
}